@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
  margin: 0 30px;
  font-family: "Poppins";
  background: #f1f1f1;
}

h1, h2, h3, h4 {
  font-weight: 500;
}

.App {
  font-size: 1.2em;
  margin: 10px auto;
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #8e2ad6;
  border-bottom: 1px dotted;
}

.site-header {
  align-items: center;
  background-color: #101f38;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  height: 81px;
  justify-content: space-between;
}

